<div class="container ">
  <div class="project-heading text-center lh-1 mb-5 min-gap">
    <p class="s-font text-capitalize">Explore my experience</p>
    <h2 class="l-font">Experience</h2>
  </div>
  <div class="row">
    <div class="col-md-5 text-center border border-secondary p-3 rounded m-auto">
      <div class="row text-center">
        <h3 class="text-muted m-font py-3">Frontend Developement</h3>
        <div class="col-md-6 px-5">
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">HTML</p>
            <p class="m-0">Experience</p></div>
          </div> 
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">javascript</p>
            <p class="m-0">Experience</p></div>
          </div>     
        </div>    
        <div class="col-md-6 px-5">
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">css</p>
            <p class="m-0">Experience</p></div>
          </div> 
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">scss</p>
            <p class="m-0">Intermediate</p></div>
          </div> 
        </div> 
      </div>
    </div>
   
    <div class="col-md-5 text-center border border-secondary p-3 rounded m-auto">
      <div class="row text-center">
        <h3 class="text-muted m-font py-3">Framework</h3>
        <div class="col-md-6 px-5">
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">Boostrap</p>
            <p class="m-0">Experience</p></div>
          </div> 
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">React</p>
            <p class="m-0">Basic</p></div>
          </div> 
        </div>    
        <div class="col-md-6 px-5">
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">Angular</p>
            <p class="m-0">Intermediate</p></div>
          </div>
          <div class="row experience-content p-2">
            <div class="col-2"><i class="fa-solid fa-circle-check"></i></div>
            <div class="col-8 text-start"><p class="m-0 text-uppercase">ATG(CMS)</p>
            <p class="m-0">Intermediate</p></div>
          </div> 
        </div> 
      </div>
    </div>

  </div>
</div>
