<div class="container my-5" >
  <div class="about-heading text-center lh-1 mb-5 min-gap">
    <p class="s-font text-capitalize">Get to know more</p>
    <h2 class="l-font">About Me</h2>
  </div>
  <div class="row">
    <div class="col-md-3 ">
        <img src="../../../assets/img/abhishek-sideImg.jpg" alt="" class="img-fluid rounded">
    </div>
    <div class="col-md-9">
        <div class="row  mt-2 mb-3">
            <div class="col-md-5 text-center border border-secondary py-3 px-1 rounded mx-1">
                <div class="mb-2"><span><i class="fa-solid fa-star"></i></span></div>
                <h6 class="text-bolder s-font mb-3">Experience</h6>
                <p class="xs-font mb-2 text-muted"><strong>10</strong> Month in FullStack Developer in IPG studio</p>
                <p class="xs-font mb-2 text-muted"><strong>9</strong> Month in Web Developer in WebZaApp</p>
            </div>
            <div class="col-md-5 text-center border border-secondary py-3 px-1 rounded mx-1">
                <div class="mb-2"><span><i class="fa-solid fa-laptop-file"></i></span></div>
                <h6 class="text-bolder s-font mb-3">Education</h6>
                <p class="xs-font mb-2 text-muted"><strong>Bscit</strong> from Chetana's College</p>
            </div>
        </div>
        <p class="xs-font">I am a passionate and dedicated FullStack Developer with 10 months of experience at IPG Studio and 9 months as a Web Developer at WebZaApp. My journey in the tech world began at Chetana's College, where I graduated with a Bachelor's degree in Computer Science and Information Technology. <br><br>
            During my tenure at IPG Studio, I honed my skills in both front-end and back-end development, working on various projects that required innovative solutions and a keen eye for detail. At WebZaApp, I further enhanced my web development expertise, collaborating with a dynamic team to create user-friendly and efficient web applications.

        </p>
    </div>

  </div>
</div>
