<div class="container my-5">
  <div class="project-heading text-center lh-1 mb-5 min-gap">
    <p class="s-font text-capitalize">Browser my recent</p>
    <h2 class="l-font">Projects</h2>
  </div>
  <div class="row">
    <div
      class="col-md-4 text-center border border-secondary p-3 rounded custom-width m-auto"
    >
      <img src="../../../assets/img/project-1.png" alt="project-img" class="img-fluid" />
      <p class="l-font">Project 1</p>
      <div class="button-section">
        <button
          class="btn btn-medium btn-light rounded-btn mx-2 border-dark"
          >Github</button
        >
        <button class="btn btn-medium btn-dark rounded-btn mx-2">
         Live Demo
        </button>
      </div>
    </div>
    <div
      class="col-md-4 text-center border border-secondary p-3 rounded custom-width m-auto"
    >
      <img src="../../../assets/img/project-1.png" alt="project-img" class="img-fluid" />
      <p class="l-font">Project 1</p>
      <div class="button-section">
        <button
          class="btn btn-medium btn-light rounded-btn mx-2 border-dark"
          >Github</button
        >
        <button class="btn btn-medium btn-dark rounded-btn mx-2">
         Live Demo
        </button>
      </div>
    </div>
    <div
      class="col-md-4 text-center border border-secondary p-3 rounded custom-width m-auto"
    >
      <img src="../../../assets/img/project-1.png" alt="project-img" class="img-fluid" />
      <p class="l-font">Project 1</p>
      <div class="button-section">
        <button
          class="btn btn-medium btn-light rounded-btn mx-2 border-dark"
          >Github</button
        >
        <button class="btn btn-medium btn-dark rounded-btn mx-2">
         Live Demo
        </button>
      </div>
    </div>
   
  </div>
</div>



