<div class="container p-5">
    <div class="row min-gap">
        <div class="col-1"></div>
      <div class="col-md-4 text-center">
        <img
          src="../../../assets/img/ABHISHEK IMG-removebg-preview.jpg"
          alt="no-img"
          class="img-fluid rounded-circle"
        />
      </div>
      <div class="col-md-6 m-auto text-center ">
        <div class="content ">
            <p class="s-font lh-1 pt-5">Hello I'm</p>
            <h5 class="l-font">Abhishek Mungekar</h5>
            <p class="m-font text-muted">Frontend Developer</p>
        </div>
        <div class="button-section">
            <a href="../../../assets/cv/ABHISHEKRESUME.pdf" class="btn btn-medium btn-light rounded-btn mx-2 border-dark ">Download CV</a>
            <button class="btn btn-medium btn-dark rounded-btn mx-2">Contact Info</button>
        </div>
        <div class="socialmedia-section-2 my-2">
            <a href="https://www.linkedin.com/in/abhishek-mungekar-130131246" target="_blank" class="btn btn-dark rounded-circle mx-1"><i class="fa-brands fa-linkedin"></i></a>
            <a href="" class="btn btn-dark rounded-circle mx-1"><i class="fa-brands fa-github"></i></a>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

</div>
